*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #839791;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap : 1.5vmin;
    
}
.box{
    width: 18vmin;
    height: 18vmin;
    background-color: #FFD4CA ;
    border: none;
    border-radius: 1rem;
    font-size: 8vmin;
    color: #91402e;
}
#rst-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #18252e;
    color: #b3b6bc;
    border-radius: 1rem;
    
}
#new-game{
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #18252e;
    color: #b3b6bc;
    border-radius: 1rem;
}
#msg{
    font-size: 5vmin;
    color: #f8e6e2;
}
.msg-container{
    height: 15vmin;
}
.hide{
    display: none;
}